/* App.css */
body {
    font-family: Arial, sans-serif;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: black;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form-group {
    margin-bottom: 15px;
  }

  .form-field{
    display: inline-block;
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
  border: 2px solid #ccc;
  }

  .form-error {
    color: #ff4d4d;
    font-size: 14px;
    margin-top: 5px;
    display: block;
  }
  
  .btn-button {
    background: #B20000;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn-button:hover {
    background: #ff4d7e;
  }

  .message{
    margin-top: 10px;
    color: #ff0000;
  }
  